body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins';
    text-align: center;
    background-color: rgb(167, 238, 178);
  }
  .calculator{
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  input,button{
    border:none;
    outline: none;
    height: 50px;
  }
  input{
    width:321px;
    font-size: 30px;
    margin-bottom: 2px;
    color:#000;
  }
  button{
    margin: -1px;
    font-weight: 600;
    font-size: 2rem;
    width:80px;
  }
  button:active,button:hover{
    background-color:#000 ;
    color:#fff;
  }